
@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome to <span style="font-weight:900;">GameCritic</span>!</h1>
<img src="https://www.thelostgamer.com/wp-content/uploads/2020/11/Best-AAA-Games-1024x513.jpg"/>

